<!doctype html>
<html>
<head>
    <title>Billboard</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/editor.js"></script>

    <link href="/css/editor.css" rel="stylesheet" type="text/css" />
</head>
<body>
    Click on any element on page!
</body>
</html>
